body, html {
    height: 100%;
    color: white;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/img1.webp');  /* Replace with your custom image URL */
    background-size: cover;  /* Ensures the image covers the entire background */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #ffffff;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #117a8b;
}
#tile-list {
    color: black;
}
